html{
    scroll-behavior: smooth;
    scroll-margin-top: 20px;
}
body{
    margin: 0;
    overflow-x: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border-bottom: 4px solid #575757;
    padding: 0 10px;
    align-items: center;
    overflow: hidden;
    background: rgb(233,233,233);
    background: linear-gradient(90deg, rgba(233,233,233,1) 0%, rgba(0,0,0,1) 60%);
}
ol{
    list-style: none;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
}
.nav{
    color: #e4b023;
}
a{
    text-decoration: none;
}
main{
    text-align: center;
    margin: 0 5px;
}
.line{
    width: 75%;
    height: 0;
    border: 1px solid goldenrod;
    margin: 0 auto;
}
#home sub{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #e4b023;
}
#home{
    max-width: 1200px;
    margin: 0 auto 24px;
}
#home ul{
    text-align: left;
    font-size: 15px;
}
#cortes{
    column-count: 2;
    column-gap: 0px;
    max-width: 1200px;
    margin: 0 auto 24px;
}
#cortes ol li{
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px dashed #0a76f13f;
    margin-left: -25px;
}
img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}
h3{
    border-bottom: 2px solid goldenrod;
    width: 75%;
    margin: 5px auto;
}
.select-corte{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.select-corte a{
    color: #da8320;
    text-decoration: underline;
}
#sem-agrado{
    text-align: center;
    margin: 25px auto;
    font-size: 15px;
    width: 75%;
}
#sem-agrado a{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: #ffffff;
    padding-inline: 10px;
    padding-block: 10px;
}
footer a{
    color: #a215e4;
}
h4{
    text-align: center;
}
ion-icon{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
}
.nav ul, #social-links ul{
    list-style: none;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 25px;
}
.whatsapp{
    color: #25D366;
}
#agendar{
    text-align: center;
    margin: 35px 0;
    font-size: 30px;
    transition: 0.2s;
}
.agende{
    color: #e4b023;
    border: 2px solid #a215e4;
    border-radius: 7px;
}
#agendar:hover{
    transition: 0.2s;
    transform: scale(1.05);
}
#locais{
    margin: 50px 0 10px;
}
#payment{
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
}
#payment span, #home span, #sem-agrado span{
    color: #e4b023;
    font-weight: bold;
}
#social-links{
    margin: 40px 0;
}
#final{
    margin-top: 30px;
    font-size: 15px;
}
.efect{
    color: #e4b023;
}