html{
    scroll-behavior: smooth;
    scroll-margin-top: 20px;
    font-family: "Open Sans", sans-serif;
}
body{
    margin: 0;
    overflow-x: hidden;
}
h1{
    color: white;
    max-width: 50%;
}
header{
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    border-bottom: 4px solid #f81212;
    padding: 0 20px;
    align-items: center;
    overflow: hidden;
    background: rgb(139,0,0);
    background: linear-gradient(90deg, rgba(139,0,0,1) 0%, rgba(0,0,0,1) 70%);
}
#barber-fundo{
    margin: 4px 0 5px;
    border-radius: 12px;
    max-width: 100%;
    overflow-x: hidden;
}
.home-tittle{
    width: 60%;
    margin: 5px auto 15px;
}
ol{
    list-style: none;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    margin-right: 5px;
    font-weight: 600;
}
nav ul li{
    overflow: hidden;
}
.nav{
    color: #e4b023;
}
a{
    text-decoration: none;
}
main, section{
    text-align: center;
    margin: 0 5px;
}
.tittle-barbas{
    text-align: center;
    margin: 10px 5px;
}
.line{
    width: 75%;
    height: 0;
    border: 1px solid goldenrod;
    margin: 0 auto;
}
#home sub{
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #e4b023;
    max-width: 95%;
}
#home{
    margin: 0 auto 24px;
}
#home ul{
    text-align: left;
    font-size: 15px;
    list-style: none;
    margin-bottom: 30px;
}
#home ul li span{
    margin-right: 15px;
}
.curiosidades{
    font-size: 15px;
    width: 85%;
    margin: auto;
}
#cortes, #barbas{
    column-count: 2;
    column-gap: 0px;
    max-width: 1200px;
}
#barbas{
    margin: 30px auto 40px;
}
#cortes{
    margin: 0 auto 24px;
}
#cortes ol li, #barbas ol li{
    padding: 10px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px dashed #0a76f15b;
    margin-left: -25px;
}
main img{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    border-radius: 5px;
}
#types-barbas img{
    width: 95%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}
h3{
    border-bottom: 2px solid goldenrod;
    width: 75%;
    margin: 5px auto;
}
.select-corte, .select-barba{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}
.select-corte a{
    color: #da8320;
    text-decoration: underline;
}
.select-barba a{
    color: #4169E1;
    text-decoration: underline
}
#sem-agrado{
    text-align: center;
    margin: 25px auto;
    font-size: 15px;
    width: 75%;
}
#sem-agrado a{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: #ffffff;
    padding-inline: 10px;
    padding-block: 10px;
}
footer a{
    color: #B22222;
}
h4{
    text-align: center;
}
#locais ion-icon{
    font-size: 16px;
    font-weight: 300;
}
#social-links ion-icon{
    font-size: 30px;
    padding: 5px;
    margin-bottom: 10px;
}
.nav ul, #social-links ul{
    list-style: none;
    gap: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-bottom: 25px;
}
.instagram{
    color: #a215e4;
}
.whatsapp{
    color: #25D366;
}
#agendar{
    text-align: center;
    margin: 35px 0;
    font-size: 25px;
    transition: 0.2s;
}
.agende{
    color: #e4b023;
    border: 2px solid #831d0b;
    border-radius: 7px;
}
#agendar:hover{
    transition: 0.2s;
    transform: scale(1.05);
}
#locais{
    margin: 50px 0 10px;
}
#payment{
    margin-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
}
#payment span, #home span, #sem-agrado span, #barbas span{
    color: #e4b023;
    font-weight: bold;
}
.em-tb, .em-tc{
    color: #e4b023;
    font-weight: bold;
    text-decoration: underline;
}
.bonus{
    font-size: 11px;
}
#social-links{
    margin: 40px 0;
}
#final{
    margin-top: 30px;
    font-size: 15px;
}
.efect{
    color: #ffbb00;
}

/*Aba keyframes*/
@keyframes piscar {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  
.home-link {
    color: #8B0000;
    text-decoration: underline;
    animation-name: piscar;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
  